h1{
    border-radius: 13px;
    background-color: rgb(231, 206, 241);
    text-align: center;
    color: rgb(61, 28, 163);
}
.box1{
    background-color: aquamarine;
    
    width: 100px;
    height: 100px;
}